



#front-page{
    display: grid;
    grid-template-areas: "hoved-bilde hoved-bilde hoved-bilde"
                         "header header header"
                         "section section section"
                         "main main main"
                         "footer footer footer";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 3fr 1fr 2fr 2fr 0.7fr;
}

#hoved-bilde{
    grid-area: hoved-bilde;
}

header {
    grid-area: header;
}

section{
    grid-area: section;
}

main {
    grid-area: main;
}

footer{
    grid-area: footer;
}

#second-front-page{
    display: grid;
    grid-template-areas: "header header header"
                        "main main main"
                        "footer footer footer";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr 1fr;
}

header{
    grid-area: header;
}

main{
    grid-area: main;
}

footer{
    grid-area: footer;
}

#hoved-bilde img{
    width: 100%;
    margin-top: -25%;
    display: flex;
    padding: 0 0 1rem;
}

#hoved-bilde{
   color: black;
    text-align: center;
    
}

nav{
    overflow: auto;
    background-color: aliceblue;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding: 1rem;
    
}

#topnav li{
list-style: none;
}

#topnav a{
    color: rgb(21, 9, 9);
    display: inline-block;
    padding: 0 0.6rem 0;
   
   
}

header nav a{
    text-decoration: none;
}

header nav ul li a:hover{
    text-decoration: underline;
}

header nav a img{
    width: 5%;
    
}

section{
    display: flex;
    margin-top: 5%;
}

.cards{
    display: flex;
    justify-content: center;
   justify-content: space-between;
}

.cards:hover{
    box-shadow: 0 8px 16px;
}

img{
    width: 35%;
}

#front-page main{
    background-color: aliceblue;
}

footer{
    background-color: rgb(37, 17, 17);
    color: aliceblue;
    text-align: center;
   
}
footer li {
list-style: none;
}

footer ul li a:hover{
    
}

#topnav2 li{
    list-style: none;
    }
    
#topnav2 a{
color: rgb(21, 9, 9);
       
}

#second-front-page{
    margin: -8px;
}
#second-front-page footer{

}





